*~
*.elc

/myinit.el
/conf.el
/conf/proxy.el

/.history
/.mc-lists.el
/eln-cache
/elpa
/games
/save
/transient
/url
/.last-package-update-day

/init.el
/early-init.el
/etc/custom-vars.el

/history
/eshell/history
/data/recentf
/ielm-history.eld
/tramp
/snippets
/tmp
/ellama-sessions
