#+TITLE: literal emacs config
#+AUTHOR: Thomas Tych
#+DATE: 2020-01-01
#+STARTUP: content

* base
** bindings
   #+BEGIN_SRC emacs-lisp
   #+END_SRC
* modes
** mode
   #+BEGIN_SRC emacs-lisp
   #+END_SRC
